# Copiar a .env en el servidor. Generar secretos con: openssl rand -hex 32
POSTGRES_PASSWORD=
JWT_SECRET=
APP_DOMAIN=app.convivium.mx
MENU_DOMAIN=menu.convivium.mx
PUBLIC_MENU_URL=https://menu.convivium.mx
